style.css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #252423;
    --secondary-color: #f05941;
    --third-color: #f6f4f2;
}
html {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}
body {
    position: relative;
}

.main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}
.main h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 120px;
    font-weight: 900;
}
.main .mb {
    display: flex;
    gap: 100px;
    margin-bottom: 150px;
}
.main .mb .member .name {
    font-size: 30px;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 900;
}
.main .mb .member .point {
    font-size: 50px;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 900;

}
.main .btn-group {
    margin-bottom: 20px;
}
.main .btn-group .btn{
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--third-color);
    color: var(--secondary-color);
    min-width: 300px;
    height: 150px;
    font-weight: 900;
    margin: 0 15px;
}
.main .btn-group .btn:active {
    transform: translateY(1px);
}
.main .result {
    font-size: 50px;
    color: var(--secondary-color);
    font-weight: 900;
}
.modal {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
}
.modal p {
    color: var(--secondary-color);
    font-size: 200px;
    font-weight: 700;
    text-transform: uppercase;

}